<div id="bg">
  <div class="container mt-1">
    <br />
    <!-- card 1 -->
    <div class="card bg-success text-white">
      <div class="card-body">
        <h3>Who are we?</h3>

        Our web development bootcamp is an intensive, project-based learning
        experience, where students learn web development and work on real-world
        web applications and sites, including front-end and back-end web
        development work.
      </div>
    </div>
    <br />
    <!-- card 2 -->
    <div class="card bg-danger text-white">
      <div class="card-body">
        <h3>What are our goals?</h3>

        Given the complexity of the position, becoming a web developer may seem
        complicated, but the actual procedure is simple. This bootcamp can
        answer the question, "What is a web developer?" details on the schooling
        needed to begin careers in this area.
      </div>
    </div>
    <br />
    <!-- card 3 -->
    <div class="card bg-secondary text-white">
      <div class="card-body">
        <h3>How our bootcamp works?</h3>

        It's a very simple procedure, all you have to do is to register by
        filling your account info without paying anything and choose the course
        selection you want to learn. If you have a critisism or a suggestion,
        provide us your feedback to improve our services.
      </div>
    </div>
    <br />
  </div>
</div>
