<!-- Header -->
<header class="bg-secondary py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="mb-4">Recent News</h1>
        <p class="lead">
          Your trusted source for breaking news, analysis, exclusive interviews,
          and headlines at 24/7 coverage related to web development.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- Latest News Section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="../../assets/images/news_1.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">
              5 Promising Web Development Trends for 2023
            </h4>
            <p class="card-text">
              Website development is usually seen as a field that requires a
              highly specialized user experience. Faced with customer
              expectation issues and challenges in traditional design and
              website design methods, web development companies are turning to
              artificial intelligence.
            </p>
            <a
              href="https://gritdaily.com/5-promising-web-development-trends-2023-and-beyond/"
              target="_blank"
              class="btn btn-primary me-4"
              >Read More</a
            >
            <span>Source: Grit Daily</span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="../../assets/images/news_2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">
              Top 10 Web Developer Questions You May Expect in the Next
              Interview
            </h4>
            <p class="card-text">
              Web developers are those who design, plan, create and maintain
              websites and their applications. Since businesses are turning to
              digital methods for selling products and services, they seek out
              web developers and designers with both technical and creative
              skills. An interviewer will assess both these skills and include
              them in the web developer interview question.
            </p>
            <a
              href="https://www.analyticsinsight.net/top-10-web-developer-questions-you-may-expect-in-the-next-interview/"
              target="_blank"
              class="btn btn-primary me-4"
              >Read More</a
            >
            <span>Source: Analytic Insight</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="../../assets/images/news_3.avif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">
              Internship Alert! List of Web Development Jobs You Can Apply For
              This Week
            </h4>
            <p class="card-text">
              Web developers focus on internet sites to meet user expectations
              by ensuring they are attractive, run smoothly, and provide easy
              access to several pages. Those who are interested to pursue a
              career in this field are advised to do an internship in web
              development first, as it will give a great kickstart to their
              career.
            </p>
            <a
              href="https://www.news18.com/news/education-career/internship-alert-list-of-web-development-jobs-you-can-apply-for-this-week-6938983.html"
              target="_blank"
              class="btn btn-primary me-4"
              >Read More</a
            >
            <span>Source: News18</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
