<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/dashboard" style="font-weight: bold"
      >Courses</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/course1">HTML/CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course2">JavaScript/TypeScript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course3">MySQL/PHP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course4">Angular/React</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="card text-white" style="background-color: darkcyan">
  <div class="card-body">
    <h3>Overview</h3>
    <div class="row">
      <div class="content">
        <div>
          <h4>MySQL:</h4>
          <ul>
            <li>
              SQL stands for Structured Query Language used for Relational
              database management system (RDBMS).
            </li>
            <li>SQL-based language for querying and managing databases</li>
            <li>
              Basic query syntax includes SELECT, CREATE, WHERE, ORDER BY,
              UPDATE, DELETE clauses.
            </li>
            <li>
              Provides security features such as user authentication and access
              control
            </li>
            <li>
              Supports transactions to ensure data integrity and consistency
            </li>
          </ul>
        </div>
        <div>
          <h4>PHP:</h4>
          <ul>
            <li>PHP stands for Hypertext Preprocessor</li>
            <li>
              PHP is a server-side scripting language that is used to create
              dynamic web pages.
            </li>
            <li>
              PHP can be embedded in HTML pages and executed on the server
              before the page is sent to the client's web browser.
            </li>
            <li>
              PHP can be used to interact with databases such as MySQL to
              retrieve and manipulate data.
            </li>
            <li>
              PHP code is executed only when a request is made to the server,
              making it suitable for web applications.
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="centered-list">
        <h4>Common Features:</h4>
        <ul>
          <li>Both languages can be used for back-end communication.</li>
          <li>
            Both languages have the function of reading and inserting data from
            the database.
          </li>
          <li>
            Both languages can be used to secure the sensitive information such
            as password hashing.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br />
<!-- Step cards -->
<div class="row">
  <div class="card ms-4" style="width: 18rem; height: fit-content">
    <img src="../../assets/images/xampp.jpg" class="card-img-top" alt="XAMPP" />
    <div class="card-body">
      <h5 class="card-title">Step 1</h5>
      <p class="card-text">
        To start with, you must have XAMPP installed in order to work with
        phpMyAdmin DBMS that is stored locally.
      </p>
      <a
        href="https://www.apachefriends.org/download.html"
        class="btn"
        target="_blank"
        style="color: white; background-color: orangered"
        >Download</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem; height: fit-content">
    <img
      src="../../assets/images/phpmyadmin.png"
      class="card-img-top"
      alt="phpMyAdmin"
    />
    <div class="card-body">
      <h5 class="card-title">Step 2</h5>
      <p class="card-text">
        Once you install XAMPP, activate both Apache and MySQL services and go
        to the following link to visit phpMyAdmin page.
        <br />
        Link:
        <a href="http://localhost/phpmyadmin/">Click here</a>
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem; height: fit-content">
    <img src="../../assets/images/db.png" class="card-img-top" alt="SQL" />
    <div class="card-body">
      <h5 class="card-title">Step 3</h5>
      <p class="card-text">
        In the SQL tab, create your database by typing the query. Once you type,
        click on "Go" button to execute the query.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem; height: fit-content">
    <img
      src="../../assets/images/sqltable.png"
      class="card-img-top"
      alt="Table"
    />
    <div class="card-body">
      <h5 class="card-title">Step 4</h5>
      <p class="card-text">
        Now that you have your own database, you can create tables using CREATE
        query and insert attributes using INSERT query. It should appear like
        the image above.
      </p>
    </div>
  </div>
</div>

<br />

<!-- collapse section -->
<p>
  <img
    src="../../assets/images/logo_sql.png "
    style="width: 50px; margin-left: 5px; margin-right: 5px"
    alt="logo"
  />
  <span style="font-weight: bold">MySQL</span>
  <button
    class="btn"
    style="background-color: silver"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sql1"
    aria-expanded="false"
    aria-controls="sql1"
  >
    SELECT
  </button>
  <button
    class="btn"
    style="background-color: silver"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sql2"
    aria-expanded="false"
    aria-controls="sql2"
  >
    JOIN
  </button>
  <button
    class="btn"
    style="background-color: silver"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sql3"
    aria-expanded="false"
    aria-controls="sql3"
  >
    DATABASE
  </button>
  <button
    class="btn"
    style="background-color: silver"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sql4"
    aria-expanded="false"
    aria-controls="sql4"
  >
    CREATE
  </button>
  <button
    class="btn"
    style="background-color: silver"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sql5"
    aria-expanded="false"
    aria-controls="sql5"
  >
    ALTER/UPDATE
  </button>
  <button
    class="btn"
    style="background-color: silver"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sql6"
    aria-expanded="false"
    aria-controls="sql6"
  >
    DROP/DELETE
  </button>
  <button
    class="btn"
    style="background-color: silver"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sql7"
    aria-expanded="false"
    aria-controls="sql7"
  >
    CONDITIONS
  </button>
</p>
<div class="collapse" id="sql1">
  <div class="card card-body text-black" style="background-color: silver">
    Comment is represented by (--).
    <br />
    SELECT * FROM table --Select all fields of the table.
    <br />
    SELECT * FROM table1, table2; --Select more than one table.
    <br />
    SELECT field1, field2 FROM table1, table2; --Select more than one field from
    different tables
    <br />
    SELECT ... FROM ... WHERE condition --Specify the field(s) using a
    condition.
    <br />
    SELECT ... FROM ... WHERE condition GROUP BY field --Group the fields that
    have the same values.
    <br />
    SELECT ... FROM ... WHERE condition ORDER BY field1, field2 --Order the
    fields by ascending order.
    <br />
    SELECT ... FROM ... WHERE condition ORDER BY field1, field2 DESC --Order the
    fields by descending order.
    <br />
    SELECT ... FROM ... WHERE condition LIMIT 10; --Choose top 10 fields only.
    <br />
    SELECT DISTINCT field1 FROM ... --Remove the duplicates of fields.
  </div>
</div>

<div class="collapse" id="sql2">
  <div class="card card-body text-black" style="background-color: silver">
    SELECT ... FROM t1 JOIN t2 ON t1.id1 = t2.id2 WHERE condition; --Merge two
    tables together.
    <br />
    SELECT ... FROM t1 LEFT JOIN t2 ON t1.id1 = t2.id2 WHERE condition --Merge
    from left table.
    <br />
    SELECT ... FROM t1 LEFT JOIN t2 ON t1.id1 = t2.id2 WHERE condition --Merge
    from right table.
  </div>
</div>

<div class="collapse" id="sql3">
  <div class="card card-body text-black" style="background-color: silver">
    CREATE DATABASE DatabaseName; --Create a new database.
    <br />
    USE DatabaseName --Select the current database.
    <br />
    DROP DATABASE DatabaseName --Delete the database
  </div>
</div>

<div class="collapse" id="sql4">
  <div class="card card-body text-black" style="background-color: silver">
    CREATE TABLE table (field1 type1, field2 type2, PRIMARY KEY (field1));
    --Create a new table by adding fields, specifying the data type, and
    assigning a primary key which must be unique and not null.
    <br />
    CREATE TABLE table1 (fk_field1 type1, fk_field2 type2, ..., FOREIGN KEY
    (fk_field1, fk_field2) REFERENCES table2 (t2_fieldA, t2_fieldB)) --Adding a
    foreign key to refer to the table's primary key and link together two or
    more tables in a relational database.
    <br />
    -- Main Data Types:
    <br />
    INT --integer; DOUBLE(M,D) --decimal value; VARCHAR(N) --Specify the number
    of characters of a string; TEXT --Multi-line sentences; DATE (YYYY-MM-DD)
    --Date format
  </div>
</div>

<div class="collapse" id="sql5">
  <div class="card card-body text-black" style="background-color: silver">
    ALTER TABLE table ADD new_name_field1 type1 --Add a new field.
    <br />
    ALTER TABLE table DROP field1 --Remove a field.
    <br />
    UPDATE table1 SET field1=new_value1 WHERE condition; --Edit the field name.
  </div>
</div>

<div class="collapse" id="sql6">
  <div class="card card-body text-black" style="background-color: silver">
    DROP TABLE table; --Delete the table.
    <br />
    DELETE FROM table1 WHERE condition --Delete the specified tuple (row) from
    the table.
  </div>
</div>

<div class="collapse" id="sql7">
  <div class="card card-body text-black" style="background-color: silver">
    field1 < value1 --Less than
    <br />
    field1 > value1 --Greater than
    <br />
    field1 = value1 --Equal
    <br />
    field1 <> value1 --Not equal
    <br />
    field1 LIKE 'value _ %' --Search for a specified pattern.
    <br />
    field1 IS NULL --Field is empty.
    <br />
    field1 IS NOT NULL --Field cannot be empty.
    <br />
    condition1 AND condition2 --Both conditions must be true.
    <br />
    condition1 OR condition2 --At least one condition must be true.
  </div>
</div>
<br />
<p>
  <img
    src="../../assets/images/logo_php.png "
    style="width: 50px; margin-left: 5px; margin-right: 5px"
    alt="logo"
  />
  <span style="font-weight: bold">PHP</span>
  <button
    class="btn"
    style="background-color: slateblue; color: white"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#php1"
    aria-expanded="false"
    aria-controls="php1"
  >
    Basics
  </button>
  <button
    class="btn"
    style="background-color: slateblue; color: white"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#php2"
    aria-expanded="false"
    aria-controls="php2"
  >
    Error Handling
  </button>
  <button
    class="btn"
    style="background-color: slateblue; color: white"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#php3"
    aria-expanded="false"
    aria-controls="php3"
  >
    Database Binding
  </button>
  <button
    class="btn"
    style="background-color: slateblue; color: white"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#php4"
    aria-expanded="false"
    aria-controls="php4"
  >
    Form Handling
  </button>
</p>
<div class="collapse" id="php1">
  <div class="card card-body bg-primary">
    // PHP follows the same logic as most programming languages such as
    JavaScript but it has a different syntax.
    <br />
    <?php // All PHP codes are written inside this tag.
      <br>
    echo("Hello World"); // Prints data.
    <br />
    ?> // PHP closing tag.
    <br />
    $var = 2; // Variables have a "$" sign at the start.
  </div>
</div>

<div class="collapse" id="php2">
  <div class="card card-body bg-primary">
    try &lcub;
    <br />
    // Do something
    <br />
    &rcub; catch (Exception $e) &lcub;
    <br />
    // Handle exception
    <br />
    &rcub; finally &lcub;
    <br />
    echo "Always print!";
    <br />
    &rcub;
  </div>
</div>

<div class="collapse" id="php3">
  <div class="card card-body bg-primary">
    // database connection example
    <br />
    define('HOST', 'localhost'); // Hostname
    <br />
    define('USER', 'root'); // Username
    <br />
    define('PASS', ''); // Password
    <br />
    define('NAME', 'school'); // Database name
    <br />
    <br />
    // Connection check
    <br />
    $db = mysqli_connect(HOST, USER, PASS, NAME);
    <br />
    if ($db->connect_errno) &lcub;
    <br />
    die("Database connection error:" . $db->connect_errno);
    <br />
    &rcub;
  </div>
</div>

<div class="collapse" id="php4">
  <div class="card card-body bg-primary">
    // There are two methods: GET and POST. POST is more secure than GET since
    it does not appear the user inputs in the URL link.
    <br />
    &lt;form action="action.php" method="post">
    <br />
    &lt;p&gt;Your name: &lt;input type="text" name="name" />&lt;/p&gt;
    <br />
    &lt;p&gt;Your age: &lt;input type="text" name="age" />&lt;/p&gt;
    <br />
    &lt;p&gt;&lt;input type="submit" />&lt;/p&gt;
    <br />
    &lt;/form&gt;
    <br />
    Hi
    <?php echo htmlspecialchars($_POST['name']); ?>
    . You are
    <?php echo (int)$_POST['age']; ?>
    years old.
    <br />
  </div>
</div>
