<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard" style="font-weight: bold"
      >Courses</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/course1">HTML/CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course2">JavaScript/TypeScript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course3">MySQL/PHP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course4">Angular/React</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-success">
  <br />
  <br />
  <br />
  <br />
  <h1>Hello, Welcome to Raffi's Bootcamp</h1>
  <h1>Please choose your course to get started!</h1>
  <br />
  <br />
  <br />
  <br />
</div>

<br />
